.navbar-container {
  background-color: var(--clr-quaternary);
  width: 100vw;
}

.navbar-brand {
  background-color: var(--clr-quinary);
}

.nav-expanded .nav-link {
  font-weight: bold;
  padding: 8px 16px;
}