.navbar-container {
  background-color: var(--clr-quaternary);
  width: 100vw;
}

.navbar-brand {
  background-color: var(--clr-quinary);
}

.nav-expanded .nav-link {
  font-weight: bold;
  padding: 8px 16px 8px 24px;
}

.search-input {
  max-width: 350px;
  margin-top: 20px;
  margin-left: 20px;
}