#root,
html,
body,
main {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  --clr-primary: #181516;
  --clr-secondary: #362d2b;
  --clr-tertiary: #8b8481;
  --clr-quaternary: #c2b7ae;
  --clr-quinary: #f9f9f7;
  --clr-success: #157347;
  --clr-error: #FF2424;

  background-color: var(--clr-secondary);
}

.app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

* {
  font-family: 'Poppins';

  padding: 0;
  margin: 0;
}
